asgiref==3.7.2
Django==4.2.6
sqlparse==0.4.4
typing_extensions==4.8.0
psycopg2==2.9.3
djangorestframework == 3.14
markdown
django-filter
djangorestframework_simplejwt
python-dotenv~=1.0.0
django-rosetta
django_jalali
drf_yasg
django-redis
Pillow
celery~=5.3.5
drf_spectacular
Faker~=20.0.3
model-bakery==1.17.0
